 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Busca Tu Pega; Fracaso de Compra</title>
<link href="../../css/estilos.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="./css/datosPagoWebpay.css"/>
<link rel="stylesheet" type="text/css" href="./css/gui.css"/>
<script language="javascript" src="./js/jquery.js"></script>
<script language="javascript" src="./js/avisos.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32990999-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<!--CONTAINER INICIO-->
<div id="container">
<!--HEADER-->
{HEADER}
<!--HEADER-->
<div class="cont">
<div class="col_left">

<!--     BANNER 600 x 90     -->
<div id="banner"><a href="#"><img src="../../img/bnr_600_90.jpg" width="600" height="90" border="0" /></a></div>
<!--     BANNER 600 x 90     -->
<br />
<table width="630px" border="0" align="center">
		<tr>
			<td align="center">
				<h1>TRANSACCION RECHAZADA</h1>
			</td>
		</tr>
		<tr>
			<td>
				<div id='comprobante_pago' style="margin: 30px 0px;">
					<h4>Las posibles causas de este rechazo son:</h4>
					<ul>
						<li>- Error en el ingreso de los datos de su tarjeta de crédito (fecha y/o código de seguridad).</li>
						<li>- Su tarjeta de crédito no cuenta con el cupo necesario para cancelar la compra.</li>
						<li>- Tarjeta aún no habilitada en el sistema financiero.  </li>
						<li>- Si el problema persiste favor comunicarse con su Banco emisor.”</li>
						<li>&nbsp;</li>
						<li>Haga click <a href="http://www.buscatupega.cl">Aquí</a> si desea volver a la home.</li>
					</ul>
					<h4>Orden de Compra : <b>{orden_compra}</b></h4>
				</div>
			</td>
		</tr>
	</table>
</div>   <!--fin col_left-->

<div class="col_right">
<div id="banner"><a href="http://www.buscatupega.cl/ingreso_aviso.html"><img src="http://www.buscatupega.cl/img/bnr_publica.jpg" width="300" height="88" border="0" /></a></div>
<div id="banner"><a href="http://www.buscatupega.cl/impresos/avisos.pdf"><img src="http://www.buscatupega.cl/img/bnr_avisos_imp.jpg" width="300" height="96" border="0" /></a></div>
<div id="banner"><a href="http://papeldigital.info/lacuarta/" target="_blank"><img src="http://www.buscatupega.cl/img/bnr_la_cuarta.jpg" width="300" height="96" border="0" /></a></div>

<div id="titulos"><img src="http://www.buscatupega.cl/img/tit_nc.jpg" width="300" height="13" border="0" /></div>
<div id="imgclientes"><img src="http://www.buscatupega.cl/img/clt_6.jpg" width="92" height="50" border="0" /></div>
<div id="imgclientes"><img src="http://www.buscatupega.cl/img/clt_8.jpg" width="92" height="50" border="0" /></div>
<div id="imgclientes"><img src="http://www.buscatupega.cl/img/za.jpg" width="92" height="50" border="0" /></div>

<div class="titulos">&nbsp;</div>
<div id="banner">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0544293049108565";
/* BuscaTuPega Cuadro Grande */
google_ad_slot = "3846116209";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>
</div>  <!--fin col_right-->
</div>

<!--     FOOTER LA CUARTA     -->
<div id="footer" class="a980" > 
<a href="googledff886bb840a2707.html" style="display: none;">&nbsp;</a>
<ul class="navFooter">
<li><a href="http://www.lacuarta.com/">Portada</a></li>
<li><a href="http://www.lacuarta.com/canal/cronica/63.html">Crónica</a></li>
<li><a href="http://www.lacuarta.com/canal/deportiva/64.html">Deportiva</a></li>
<li><a href="http://www.lacuarta.com/canal/espectacular/65.html">Espectacular</a></li>
<li><a href="http://www.lacuarta.com/canal/vuelta-al-mundo/66.html">Vuelta al mundo</a></li>
<li><a href="http://www.lacuarta.com/canal/click/70.html">Click</a></li>
<li><a href="http://www.lacuarta.com/canal/puro-filete/a-todo-cachete/78.html">Puro Filete</a></li>
<li><a href="http://www.lacuarta.com/canal/la-cuarta-tv/272.html">La Cuarta TV</a></li>
</ul>
<div class="a940 linksFooter">
<div class="span-3">
<ul >
<li><a href="http://www.latercera.com/">&raquo; La Tercera</a></li>
<li><a href="http://www.lacuarta.com/">&raquo; La Cuarta</a></li>
<li><a href="http://www.lahora.cl/">&raquo; La Hora</a></li>
<li><a href="http://www.diarioconcepcion.cl/"> &raquo; El Diario de Concepción</a></li>
<li><a href="http://www.quepasa.cl/">&raquo; Qué Pasa</a></li>
<li><a href="http://www.paula.cl/">&raquo; Paula</a></li>
<li><a href="http://mujer.latercera.com/">&raquo; Mujer</a></li>
</ul>
</div>
<div class="span-3">
<ul>
<li><a href="http://masdecoracion.latercera.com/">&raquo; MasDeco</a></li>
<li><a href="http://www.icarito.cl/">&raquo; Icarito</a></li>
<li><a href="http://www.mouse.cl/">&raquo; Mouse</a></li>
<li><a href="http://www.grupodial.cl/">&raquo; GrupoDial</a></li>
<li><a href="http://www.biut.cl/">&raquo; Biut</a></li>
<li><a href="http://www.3tv.cl/">&raquo; 3TV</a></li>
<li><a href="http://www.pulso.cl/">&raquo; Pulso</a></li>
</ul>
</div>
<div class="span-3">
<ul>
<li><a href="http://www.zoominmobiliario.com/">&raquo; ZoomInmobiliario</a></li>
<li><a href="http://www.zoomautomotriz.com/">&raquo; ZoomAutomotriz</a></li>
<li><a href="http://www.laborum.cl/">&raquo; Laborum</a></li>
<li><a href="http://www.clublatercera.cl/">&raquo; Club La Tercera</a></li>
<li><a href="http://www.papeldigital.info">&raquo; Papel Digital</a></li>
<li><a href="http://www.unlimited.cl/">&raquo; Unlimited</a></li>
</ul>
</div>
<div class="span-3 last">
<ul>
<li><a href="http://www.copesa.cl/"> &raquo; Grupo Copesa</a></li>
<li><a href="http://www.buscatupega.cl/estatica.html">&raquo; Pol&iacute;ticas de Privacidad</a></li>
</ul>
</div>
</div>
<div class="a940">
<div class="span-5">
<p><strong>Grupo Copesa</strong><br />Se prohíbe expresamente la reproducción o copia de los contenidos de este sitio sin el expreso consentimiento Grupo Copesa.</p>
<p>Powered by <strong>Total Marketing S.A.</strong></p>
</div>
<div class="span-2">
<!-- <p><strong>Síguenos también en:</strong></p>
<ul class="sociales">
<li><a href="http://www.facebook.com/pages/La-Cuarta-Cibernetica/85079739676" class="footFb">Facebook</a></li>
<li><a href="http://twitter.com/lacuarta" class="footTw">Twitter</a></li>
</ul> -->
</div>
<div class="span-5 last">
<p><strong> Actualiza tu explorador:</strong></p>
<ul class="browsers">
<li class="footIex"><a href="http://www.lacuarta.com/ie8/">I. Explorer</a></li>
<li class="footSaf"><a href="http://www.apple.com/es/safari/download/">Safari</a></li>
<li class="footFir"><a href="http://www.mozilla-europe.org/es/firefox/">Firefox</a></li>
<li class="footChr"><a href="http://www.google.com/chrome?hl=es">Chrome</a></li>
<li class="footOp"><a href="http://www.opera.com/download">Opera</a></li>
</ul>
</div>
</div>
</div>
<!--     FOOTER LA CUARTA     -->
</div>
<!--CONTAINER FIN-->
</body>
</html>