<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="{URLBASE}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>FRACASO PAGO WEBPAY - ZoomAutomotriz.com</title>
<meta name="Keywords" content="Autos, Renault, Fiat, Volkswagen, Peugeot, Ford, Autos, Importados, de, Autos, Antiguos, Motos, Camiones, Camionetas, 4x4, Gol, Corsa, 206, 207, Uno, Fun, Punto, Palio, MOD, 1998, 1999, 2002, 2005, 2006, AUTOS, 0 km, nuevos, usados, BMW, CITROEN, 307, Bora, Astra, Megane, Corolla, Civic, comprar, vender, compra, venta">
<meta name="description" content="Autos 0 km y Autos usados en Zoom-Automotriz.com. Compra y venta de autos Renault, Fiat, Volkswagen, Peugeot, Ford, todas las marcas y modelos de autos 0 km y usados en Zoom-Automotriz.com.">
<link href="../../css/za.css" rel="stylesheet" type="text/css" />
<link href="../../css/ingreso_avisos.css" rel="stylesheet" type="text/css" />
<link href="../../css/gui.css" rel="stylesheet" type="text/css" />
<link href="../../css/datosPagoWebpay.css"rel="stylesheet" type="text/css" />
<link href="../../css/mensajes.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--CONTAINER INICIO-->
<div id="container">
{HEADER}
<!--CONTENIDO-->
<div id="elcontenido">
	<table width="985" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td valign="top">
		<div id="linken_block">
			<table width="630px" border="0" align="center">
				<tr>
					<td align="center">
						<h1>TRANSACCION RECHAZADA</h1>
					</td>
				</tr>
				<tr>
					<td>
						<div id='comprobante_pago' style="margin: 30px 0px;">
							<h4>Las posibles causas de este rechazo son:</h4>
							<ul>
								<li>- Error en el ingreso de los datos de su tarjeta de crédito (fecha y/o código de seguridad).</li>
								<li>- Su tarjeta de crédito no cuenta con el cupo necesario para cancelar la compra.</li>
								<li>- Tarjeta aún no habilitada en el sistema financiero.  </li>
								<li>- Si el problema persiste favor comunicarse con su Banco emisor.”</li>
								<li>&nbsp;</li>
								<li>Haga click <a href="http://www.zoomautomotriz.com">Aquí</a> si desea volver a la home.</li>
							</ul>
							<h4>Orden de Compra : <b>{orden_compra}</b></h4>
						</div>
					</td>
				</tr>
			</table>
		</div>
	    </td>
	    <td valign="top">
	    	<div id="rechte_block">

				<div style="margin-bottom:0px">
					<a href="../../publicar_1.html"><img src="../../banners/banner_vende.jpg" border="0" alt="Vende tu auto" width="300" /></a>
				</div>

				<!-- BANNER GOOGLE 1-->
				<div id="bannerGoogle">
					<script type="text/javascript"><!--
						google_ad_client = "ca-pub-0544293049108565";
						/* ZA Cuadrado 3 - 300x250 */
						google_ad_slot = "4216059279";
						google_ad_width = 300;
						google_ad_height = 250;
						//-->
					</script>
					<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
				</div>
				<!-- FIN BANNER GOOGLE 1 -->

				<!-- BANNER COMPARADOR -->
				<a border="0" href="http://www.zoomautomotriz.cl/pub/autosNuevos/comparar.aspx" target="_parent">
					<img src="http://www.zoomautomotriz.cl/imagenes/banners/comparador300.jpg" width="300" >
				</a>
				<!-- FIN BANNER COMPARADOR -->

				<!-- BANNER PATENTES -->
				<div style="margin-top:10px;">
				<a border="0" href="http://www.zoomautomotriz.cl/pub/patentes/valorPatente2011_mini.aspx" target="_parent">
					<img src="../../banners/banner_patentes.jpg" width="300" >
				</a>
				</div>
				<!-- FIN BANNER PATENTES -->
				
			</div>
		</td>
	  </tr>
	</table> 	
</div>
<!-- FOOTER -->
{FOOTER}
<!-- FIN FOOTER -->
<!--CONTENIDO-->
</div><!--CONTAINER FIN-->
</body>
<script src="/js/jquery.js"></script>
<script src="/js/funciones.js" language="javascript"></script>
</html>