<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Exito de Compra: Exito de Compra</title>
<base href="{URLBASE}">
<link href="http://www.buscatupega.cl/css/estilos.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="./css/datosPagoWebpay.css"/>
<link rel="stylesheet" type="text/css" href="./css/gui.css"/>
<link rel="stylesheet" href="http://www.buscatupega.cl/css/autocompletado.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32990999-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body onload="print();" style="background:#CCC;">
<!--CONTAINER INICIO-->
<div id="container" style="width:650px;">
<!--CONTAINER INICIO-->
<!--HEADER-->
<div id="header" style="width:650px;">
<div id="mainmenu">
</div>
</div>
<!--HEADER-->
<div class="cont" style="width:650px;">
<div class="col_left">

<table border="0" align="center" width="630px">
		<tr>
			<td align="center">
				<h1>TRANSACCION EXITOSA</h1>
			</td>
		</tr>
		<tr>
			<td><hr /></td>
		</tr>
		<tr>
			<td>
				{datos_pagos}
			</td>
		</tr>
</table>
<div id="logosWebpay">
	<img src="./img/Logo_WebPay_Cre_d-Redc(b)3.jpg"/>
</div>
<span class="emp_tit" style="margin:20px 0px 0px 163px;">Gracias por publicar en <strong>BuscaTuPega.cl</strong></span><br />

</div>
</div>
<!--CONTAINER FIN-->
</body>
</html>
